.loginPageHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 60vh;
    background-color: #f0d8a2;
    border-radius: 3%;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.usernameInput {
    width: 100%;
}
